# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [2]:
import pandas as pd 

list1 = [2, 3, 4, 6, 8, 10, 12, 14, 16, 18, 20]
series1 = pd.Series(list1)
print(series1)

0      2
1      3
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    20
dtype: int64

# Q3. Create a Pandas DataFrame that contains the following data: Name Alice, Bob, Claire /Age ,25,30,27 /Gender,Female,Male,Female then print the data frame

In [3]:
import pandas as pd 

dic = {
'Name' : ['Alice','Bob','Claire'],
'Age' : [25,30,27],
'Gender' : ['Female','Male','Female']}

df = pd.DataFrame(dic)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

DataFrame :- In Pandas, a DataFrame is a two-dimensional, size-mutable, and heterogeneous tabular data structure. It can be thought of as a spreadsheet or SQL table, where data is organized into rows and columns. Each column in a DataFrame can have a different data type (e.g., integers, floats, strings) and is essentially a Pandas Series.

Series :- It is a one-dimensional labeled array that can hold data of any type (e.g., integers, floats, strings). A DataFrame is essentially a collection of Series, where each column is a Series. Series, being one-dimensional, lack the tabular structure of a DataFrame.

In [4]:
#Example

import pandas as pd 

#series
series_data = pd.Series([1,2,3,4,5],name ='Series')

#dataframe
dic2 = {
    'Name' : ['Gaurav','Aditay','Sahil'],
    'Age' : [20,21,23],
  
}

df2 = pd.DataFrame(dic2)

print('series:')
print(series_data)

print('\nDataFrame:')
print(df2)

series:
0    1
1    2
2    3
3    4
4    5
Name: Series, dtype: int64

DataFrame:
     Name  Age
0  Gaurav   20
1  Aditay   21
2   Sahil   23

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Selection and Filtering:

df['column_name'] or df.column_name: Select a specific column.
df[['col1', 'col2']]: Select multiple columns.

Sorting:

df.sort_values(by='column_name'): Sort DataFrame by a specific column.
df.sort_values(by=['col1', 'col2']): Sort by multiple columns.

Grouping and Aggregation:

df.groupby('column_name').agg({'agg_column': 'agg_function'}): Group data and apply aggregation functions (e.g., sum, mean).

Statistics and Summary:

df.describe(): Get summary statistics for numeric columns.
df['column_name'].value_counts(): Count unique values in a column.

Merging and Joining:

pd.concat([df1, df2]): Concatenate two DataFrames.
pd.merge(df1, df2, on='key_column'): Merge DataFrames on a common key column.

Data Cleaning:

df.drop('column_name', axis=1): Remove a column.
df.dropna(): Remove rows with missing values.
df.fillna(value): Replace missing values with a specified value.

# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas:

Series is mutable. You can modify the values of a Series after it's created.

DataFrame is mutable. You can add or remove columns, change values in cells, and perform various operations to modify the DataFrame.

Panel (3D container for data) was deprecated in Pandas 0.25.0 and is no longer part of the core Pandas library as of Pandas version 1.0.0. Therefore, it's not relevant to consider its mutability.

# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [5]:
import pandas as pd 

name_stud = pd.Series(['Gaurav','Aditya ', 'Sahil', 'Sanket'])
age_stud = pd.Series([19,20,21,22])
gender_stud = pd.Series(['Male', 'Male','Male','Male'])


data_stud = {
   "Name_stud" : name_stud,
    "Age_stud" : age_stud,
    "Gender_stud" : gender_stud
}


df3 = pd.DataFrame(data_stud)

print(df3)

  Name_stud  Age_stud Gender_stud
0    Gaurav        19        Male
1   Aditya         20        Male
2     Sahil        21        Male
3    Sanket        22        Male